@use "../abstracts" as abs;

/* Center the grid inside the viewport */
.grid-container {
	max-width: abs.$max-grid-width;
	width: 100%;
	height: abs.$grid-height;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr auto 1fr;
	align-items: center;
	justify-items: center;
	gap: abs.$gap;
	margin: 3rem auto;
	background: transparent;
}

/* Handling responsive collapse with respond mixin */
@include abs.respond(abs.$mobile-breakpoint) {
	.grid-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 100%;		
		height: auto;
		gap: 1rem;
		padding: 1rem 0;	
	}
}