@use '../abstracts' as abs;

.grid-card-item {
	@include abs.center-flex;
	width: abs.$card-width;
	height: abs.$card-height;
	background-color: abs.$card-bg;
	border-radius: abs.$card-radius;
	/* INSERT BOX-SHADOW FOR CARD HERE */
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

/* Place cards in correct grid cells */
.grid-left {
	grid-column: 1;
	grid-row: 2;
}
.grid-top {
	grid-column: 2;
	grid-row: 1;
}

.grid-right {
	grid-column: 3;
	grid-row: 2;
}
.grid-bottom {
	grid-column: 2;
	grid-row: 3;
}

/* Adjust on mobile screen */
@include abs.respond(abs.$mobile-breakpoint) {
	.grid-card-item {
		width: 100%;
		max-width: 460px;
		height: auto;
		padding: 1rem 1.25rem;	
	}
}