@use '../abstracts' as abs;

.title {
	margin: 1rem;
	font-size: var(--h1-scaling);
	line-height: 1.1;
	text-align: center;
	
	&__muted,
	&__strong {
		display: block;	
	}
	
	&__muted {
		color: abs.$grey-muted;
		font-weight: 200;	
	}
	
	&__strong {
		color: abs.$grey-strong;
		font-weight: 600;	
	}
}