@use "../abstracts" as abs;

html, body {
	width: 100vw;
	height: 100%;
}

html {
	font-size: abs.$font-size-base;
}

body {
	font-family: abs.$font-main;
	background-color: abs.$primary-bg-color;
	padding: 2rem;
}

main {
	text-align: center;
}