// Grid design tokens
$card-width: 400px !default;
$card-height: 250px !default;
$gap: 2 rem !default;
$card-bg: white !default;

$max-grid-width: 1200px !default;
$grid-height: 750px !default;
$mobile-breakpoint: 600px !default;

/* Card specific styling */
$card-top-border-size: 3px !default;
$card-top-border-style: solid !default;

// Card border color map
$card-border-colors: (
	red: hsl(0, 78%, 62%),
	cyan: hsl(180, 62%, 55%),
	orange: hsl(34, 97%, 64%),
	blue: hsl(212, 86%, 64%)
) !default;

$card-radius: 12px !default;

$primary-bg-color: hsl(0, 0%, 100%);
$grey-muted: hsl(212, 6%, 44%);
$grey-strong: hsl(234, 12%, 34%);

// Fonts
$font-main: "Poppins, sans-serif";

// Font sizes
$font-size-base: 15px;

// Image Icon scaling
:root {
	--icon-scaling: clamp(32px, 20.75px + 3vw, 64px);
}